---
layout: default
---

<h1>👑 Hall of Fame</h1>

<ul class='exploits'>
    {% for exploit in site.data.exploits %}
    <li>
        {% assign hacker = site.data.hackers[exploit.hacker] %}
        <dl>
            <dt>제보일</dt>
            <dd>{{ exploit.date }}</dd>
            <dt>이름</dt>
            <dd><a href={{ hacker.url }}>{{ exploit.hacker }}</a></dd>
            <dt>취약점</dt>
            <dd>
                {{ exploit.title }}
                {% if exploit.target-url %}
            </dd>
            <dt>
                대상 URL
            </dt>
            <dd>
                <code>{{ exploit.target-url }}</code>
                {% endif %}
            </dd>
            {% if exploit.description %}
            <dt>설명</dt>
            <dd>{{ exploit.description }}</dd>
            {% endif %}
        </dl>
    </li>
    {% endfor %}
</ul>