---
---

@import "{{ site.theme }}";

.exploits {
  list-style: none;

  dl {
  }

  dt {
    float: left;
    clear: left;
    width: 80px;
    text-align: right;
    font-style: normal !important;
    margin-top: 0 !important;
  }

  dd {
    margin: 0 0 0 80px !important;
  }
}
